<div class="poster" #contentToConvert>
    <div class="background-img" [style.background-image]="'url(' + backgroundImageUrl + ')'" ></div>
    <div class="info">
        <header>
            <h3>Codepen</h3>
            <p>Presents</p>
        </header>
  
        <main>
            <div class="event-title">
                <h1>Summer</h1>
                <h2>Lounge</h2>
            </div>
        </main>
  
        <section id="date">
            <div class="circle-item">22</div>
            <div class="circle-item">Jan</div>
            <div class="circle-item">2022</div>
        </section>
  
        <section id="talent">
            <div class="dj-title">Featuring</div>
            <ul class="dj-list">
                <li>DJ Coyier</li>
                <li>//</li>
                <li>DJ Kuhn</li>
                <li>//</li>
                <li>D-Jhey</li>
            </ul>
        </section>
  
        <footer>
            <div class="tickets">
                $25 Pre Sale Tickets / 18+ Ages / $30 at Door
            </div>
            <div class="venue">
                <h3>Club Sicontis</h3>
                <p>Level 2, 48 Fort Street, AKL</p>
                <p><small>www.clubsicontis.com</small></p>
            </div>
        </footer>
    </div>
  </div>