<div class="container">
    <form class="form" (ngSubmit)="sendEmail()">
      <p id="heading">Forgot Password</p>
      <div class="field">
        <!-- Email input field -->
        <input autocomplete="off" placeholder="Email" class="input-field" type="email" [(ngModel)]="email"
          id="email" name="email">
      </div>
      <div class="btn">
        <!-- Send button -->
        <button type="submit" class="button1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
    </form>
  </div>
  <input autocomplete="off" placeholder="Email" class="input-field" type="text" [(ngModel)]="codepass" > 
  <button (click)="verify()"> verify</button>
  <div class="resetpassword"*ngIf="verified"> <input type="password" [(ngModel)]="password"> <input type="password"[(ngModel)]="password2">> 
  <button (click)=" resetpassword()" > change </button></div>
  
  