<div class="hero overlay" style="background-image: url('/assets/images/addEvent.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mx-auto text-center">
        <h1 class="text-white">Welcome to Your Group</h1>
        <p>Step into the spotlight! Create your network, and let the rhythm speak for itself.</p>
        <!-- Clickable element to show group members -->
        <button class="btn btn-primary mt-3" (click)="showGroupMembers()">Here are Your Group Members</button>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <!-- Group members list (initially hidden) -->
    <ul *ngIf="showMembers">
      <li *ngFor="let dancer of dancers">
        <p>Last Name: {{ dancer.lastName }}</p>
        <p>Dance Style: {{ dancer.danceStyle }}</p>
        <p>Experience Level: {{ dancer.experienceLevel }}</p>
        <p>Email: {{ dancer.email }}</p>
      </li>
    </ul>
    <!-- Leave group button -->
    <button class="btn btn-danger mt-3" (click)="navigateToAllGroups()">Leave group</button>
  </div>
</div>
