<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                    </div>
                    <div style="display: block;">
                        <h2>Espace Statistique</h2>
                        <canvas baseChart
                                datasets="barChartData.datasets"
                                labels="barChartData.labels"
                                options="barChartOptions"
                                legend="barChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
