.product-img img {
    height: 200px; /* taille en pixels */
}
.products-slick {
    display: flex; /* Utiliser Flexbox pour afficher les produits horizontalement */

}


.product {
    margin-right: 20px; /* Ajouter de l'espace entre les produits */
}


