
<div class="col16 -pvs align-items-center">
    <section class="card -oh _fw -rad4">
      <div class="crs-w _main _thumb -fs0 _nav -tac _c-btn-on">
        <div class="crs">
  <div class="row">
      <div class="col-md-3" >
        <div class="card mb-4 shadow-sm">
          <img [src]="" class="card-img-top" alt="..." height="300" width="100" >
          <div class="card-body">
            <h5 class="card-title text-center" ></h5>
            <div class="d-flex justify-content-center">
              <a   class="btn btn-sm btn-outline-secondary">Voir les produits</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  </div>
  </div>
  </section>
  </div>