.product {
    display: inline-block;
    width: calc(100% /5 - 20px); /* Pour afficher quatre produits par ligne */

    margin: 10px;
    text-align: center; /* Centrer le contenu */
}
.product-img {
  width: 200px; /* Set a fixed width for the product images */
height:200px;


}

/* CSS for Parent Category Section */
.shop {
    margin-bottom: 100px;
    text-align: center;
  }
  
  .shop-img img {
    max-width: 100%;
    height: 60%;
  }
  
  .shop h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
  }
  .custom-image {
    width: 100%; /* Ajuster la largeur de l'image en fonction de vos besoins */
    height: auto; /* Garder le ratio hauteur/largeur */
}.checked {
  color: orange;
}
/* Style pour l'ancien prix du produit en promotion */
.product-old-price {
  color: #999; /* Couleur du texte */
  text-decoration: line-through; /* Texte barré */
  margin-left: 5px; /* Marge à gauche pour séparer les prix */
}.custom-image {
  width: 100%; /* Ajuster la largeur de l'image pour remplir le conteneur */
  height: auto; /* Garder le ratio hauteur/largeur */
  display: block; /* Permettre un alignement correct */
  margin: 0 auto; /* Centrer l'image horizontalement */
}
.product-body{

}