:host {
    display: block;
}

.mat-dialog-content {
    max-width: 400px;
    margin: auto;
    color: black; 
}

.form-group {
    margin-bottom: 20px;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

label {
    font-weight: bold;
    flex: 1; /* Make labels take up 1/3 of the available space */
}
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .mat-dialog-actions {
    justify-content: center;
    margin-top: 20px;
  }
  
  .mat-dialog-title {
    text-align: center;
    margin-bottom: 20px;
    color: black; /* Set text color to black */
  }
  
  .mat-button {
    margin: 0 5px;
  }
  mat-dialog-content input{
    color: black !important;
  }

  mat-dialog-content textarea{
    color: black !important;
  }

  label.radio-inline {
    margin: 15px;
    color: black;
    font-weight: 400;
  }